<!-- HTML Structure of Create Room Page -->

<!-- Create Room Form -->
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <!-- Header -->
  <mat-card>
    <!--<mat-card-header *ngIf="profile.id; else roomregistration"> -->
    <mat-card-header>
      <mat-card-title>Create Room</mat-card-title>
    </mat-card-header>

    <!--
    <ng-template #roomregistration>
      <mat-card-header>
        <mat-card-title>Hello!! Please create a new room below.</mat-card-title>
        <mat-card-subtitle>
          Once the room is setup you can begin editing seats!
        </mat-card-subtitle>
      </mat-card-header>
    </ng-template>
    -->

    <!-- Room Input Fields -->
    <mat-card-content>
      <!-- ID Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Room ID</mat-label>
        <input
          matInput
          placeholder="ID"
          formControlName="id"
          name="id"
          required />
      </mat-form-field>
      <!-- Nickname Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Nickname</mat-label>
        <input
          matInput
          placeholder="Nickname"
          formControlName="nickname"
          name="nickname"
          required />
      </mat-form-field>
      <!-- Building Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Building</mat-label>
        <input
          matInput
          placeholder="Building"
          formControlName="building"
          name="building"
          required />
      </mat-form-field>
      <!-- Room Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Room</mat-label>
        <input
          matInput
          placeholder="Room"
          formControlName="room"
          name="room"
          required />
      </mat-form-field>
      <!-- Capacity Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Capacity</mat-label>
        <input
          matInput
          placeholder="Capacity"
          formControlName="capacity"
          name="capacity"
          required />
      </mat-form-field>
      <!-- Reservable Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Reservable</mat-label>
        <input
          matInput
          placeholder="Reservable"
          formControlName="reservable"
          name="reservable"
          required />
      </mat-form-field>
      <!-- Seats Field -->
      <!-- 
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Seats</mat-label>
        <input
          matInput
          placeholder="Seats"
          formControlName="seats"
          name="seats" />
      </mat-form-field>
      -->
    </mat-card-content>

    <!-- Submit Button -->
    <mat-card-actions>
      <button mat-stroked-button type="submit" [disabled]="roomForm.invalid">
        SAVE
      </button>
    </mat-card-actions>
  </mat-card>
</form>
